.cart {
    /* margin: 0 100px; */
    padding: 8.5rem 0 5.5rem 0;
    width: 80%;
    margin: auto;
    animation: fadeIn 1.5s;
  }
  
  .cart-items-title {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr 1fr 1fr 0.5fr;
    align-items: center;
    color: skyblue;
    font-size: max(1vw, 11px);
    font-weight: 500;
  }
  
  .cart-items-item {
    margin: 10px 0;
    color: white;
  }
  .cart-items-item img {
    width: 7.5vw;
  }
  .cart hr {
    height: 1px;
    background-color: #e2e2e2;
    border: none;
  }
  .cart-items-item .cross{
      cursor: pointer;
  }
  
  .cart-bottom{
      margin-top: 80px;
      display: flex;
      justify-content: space-between;
      gap: max(12vw,20px);
  }
  .cart-total{
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 20px;    
  }
  .cart-total-details{
      display: flex;
      justify-content: space-between;
      /* color: #a7a6a6; */
      color: rgb(191, 246, 246);
  }
  .cart-total hr{
      margin: 10px 0;
  }
  .cart-total button{
      border: none;
      color: white;
      background-color: var(--first-color);
      width: max(15vw, 200px);
      padding: 12px 0;
      border-radius: 4px;
      cursor: pointer;
  }
  .cart-promocode{
      flex: 1;
  }
  .cart-promocode p{
      color: #a7a6a6;
  }
  .cart-promocode-input{
      margin-top: 10px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #eaeaea;
      border-radius: 4px;
  }
  .cart-promocode-input input{
      background: transparent;
      border: none;
      outline: none;
      padding-left: 10px;
  }
  .cart-promocode-input button{
      width: max(10vw,150px);
      padding: 12px 5px;
      background-color: rgb(12, 63, 121);
      border: none;
      color: white;
      border-radius: 4px;
  }
  .cross{
    max-width: 15px;
    max-height: 15px;
    border-radius: 50%;
    color: black;
    background-color: rgb(252, 188, 188);
    text-align: center;
    font-weight: 700;
  }
  
  @media (max-width:750px) {
      .cart-bottom{
          flex-direction: column-reverse;
      }
      .cart-promocode{
          justify-content: start;
      }
      
  }