.footer{
    padding-block: 4rem 2rem;
    border-top: 1px solid rgb(49, 49, 49);
  }
  
  .footer__container{
    row-gap: 4rem;
  }
  
  .footer__logo{
    display: inline-flex;
    align-items: center;
    column-gap: .25rem;
    color: var(--title-color);
    font-size: var(--h2-font-size);
    font-weight: var(--font-semi-bold);
    margin-bottom: .75rem;
  }
  
  .footer__logo i{
    color: var(--first-color);
    font-size: 1.5rem;
    font-weight: initial;
  }
  
  .footer__content{
    grid-template-columns: repeat(2, max-content);
    gap: 14rem 13rem;
  }
  
  .footer__title{
    font-size: var(--normal-font-size);
    margin-bottom: 1rem;
  }
  
  .footer__links{
    display: grid;
    row-gap: .75rem;
  }
  
  .footer__link{
    color: var(--text-color);
    transition: color .4s;
  }
  
  .footer__social{
    display: flex;
    column-gap: .75rem;
  }
  
  .footer__social-link{
    color: var(--text-color);
    font-size: 1.5rem;
    transition: color .4s;
  }
  
  .footer__link:hover,
  .footer__social-link:hover{
    color: var(--first-color);
  }
  
  .footer__copy{
    display: block;
    margin-top: 6rem;
    text-align: center;
    font-size: var(--small-font-size);
  }
  .deepak{
    color: var(--first-color);
   
  }

  @media screen and (max-width: 420px) {

    .container{
      margin-inline: 1rem;
    }

    /* .footer__container{
      grid-template-columns: max-content;
    } */
    .footer__content{
      margin-top: 3.5rem;
    }
  }